<div class="jumbotron">
<h1>Welcome to Ebooks</h1>
<p>Buy and sell your ebooks online</p>


<%= link_to "Books", books_path, class: "btn btn-primary btn-lg" %>
<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg" %>

</div>
